<html lang="zh">
<h1>
    Filecoin wallet
</h1>
地址：{{.data.Address}}<br>
公钥：{{.data.PublicKey}}<br>
私钥：{{.data.PrivateKey}}<br>
余额：{{.balance}}<br>

<br><br>
水龙头：<a href="https://faucet.calibration.fildev.network/">https://faucet.calibration.fildev.network/</a><br>
浏览器：<a href="https://calibration.filscout.com/">https://calibration.filscout.com/</a>
</html>