<html lang="zh">
<h1>
    Filecoin wallet
</h1>
当前连接节点：{{.endpoint}}<br/>
节点网络：{{.network}}(mainnet:0,Testnet:1)<br/>
节点状态：
Version:{{.version.Version}},
APIVersion:{{.version.APIVersion}},
BlockDelay:{{.version.BlockDelay}}s
<br/>
<br/>
Address:<br/>
{{range $val := .list}}
<a href="/address/{{$val.Address}}">{{$val.Address}}</a>({{$val.CreatedAt}})<br/>
{{end}}
<br/>
<a href="/new">New</a><br/>
<a href="/new">New(Bls)</a><br/>

导入:<br>
<form action="/import" method="post" target="_blank" enctype="application/x-www-form-urlencoded">
    type:<br>
    <input type="text" name="type" value="secp256k1"> bls或secp256k1
    <br>
    privateKey:<br>
    <input type="text" name="privateKey" value="">hex 编码的密钥<br>
    <br>
    <input type="submit" value="Submit">
</form>

</html>